body {
    background-color: #4b5160;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    color: white;

    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 1fr 10%;
}
.container{
    grid-row-start: 2;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-column-end:  3;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    font-size: 2.5rem;
    font-weight:100;
}
#table{
    border-spacing: .25rem;
    /* height:100%; */
}
.cell {
    background-color: #b9b7bd;
    border-radius: .5rem;
    text-indent: -9999px;
}
.revealed{
    background-color: #868b8e;
    text-indent: 0px;
    text-align: center;
    color: white;
    font-weight: 900;
}
.mine.revealed {
    background-color: #F19E8E;
}
.flagged{
    background-color: #98756F;
}
.winlosescreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    visibility:hidden;
    flex-direction: column;
}
.mine.debug{
    border: 1px solid red;
} 
